[submodule "PoGoAssets"]
	path = PoGoAssets
	url = git@github.com:ZeChrales/PogoAssets.git
[submodule "TelegramSkeleton"]
	path = TelegramSkeleton
	url = git@github.com:derigel23/TelegramSkeleton.git
[submodule "pokemongo-game-master"]
	path = pokemongo-game-master
	url = git@github.com:pokemongo-dev-contrib/pokemongo-game-master.git
